name: ci
on:
  push:
  pull_request:
    branches:
      - main
      - develop
concurrency:
  group: test-${{ github.ref_name }}
  cancel-in-progress: true
env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  DEFAULT_PYTHON_VERSION: "3.12"
  DEFAULT_UV_VERSION: "0.9.x"
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          persist-credentials: false
      - name: Set up Python ${{ env.DEFAULT_PYTHON_VERSION }}
        id: setup-python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: ${{ env.DEFAULT_UV_VERSION }}
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install Hatch
        run: |
          uv tool install --python ${{ steps.setup-python.outputs.python-version }} --upgrade hatch
      - name: Lint project
        run: |
          hatch fmt --check
      - name: Check project typing
        run: |
          hatch run typing:run
      - name: Check files with prek
        uses: j178/prek-action@v1.0.11
      - name: Validate the changelog
        uses: release-flow/keep-a-changelog-action@v3
        with:
          command: query
          version: latest-or-unreleased
  tests:
    name: Test (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - lint
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          persist-credentials: false
      - name: Pull Docker images
        run: |
          docker compose --file tests/docker/docker-compose.ci-test.yml pull --quiet
      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv (PyPy)
        if: contains(matrix.python-version, 'pypy')
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: ${{ env.DEFAULT_UV_VERSION }}
          python-version: ${{ steps.setup-python.outputs.python-path }}
      - name: Install uv (CPython)
        if: ${{ !contains(matrix.python-version, 'pypy') }}
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: ${{ env.DEFAULT_UV_VERSION }}
          python-version: ${{ matrix.python-version }}
      - name: Install Hatch (PyPy)
        if: contains(matrix.python-version, 'pypy')
        run: |
          uv tool install --python ${{ steps.setup-python.outputs.python-path }} --upgrade hatch
      - name: Install Hatch (CPython)
        if: ${{ !contains(matrix.python-version, 'pypy') }}
        run: |
          uv tool install --python ${{ matrix.python-version }} --upgrade hatch
      - name: Show environment
        run: |
          hatch test --show --python ${{ matrix.python-version }}
      - name: Run tests
        run: |
          hatch test --cover --junitxml=junit.xml -o junit_family=legacy --python ${{ matrix.python-version }}
      - name: Upload coverage to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.python-version }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.python-version }}
  test-edge:
    name: Test Gotenberg :edge
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - lint
    env:
      GOTENBERG_CLIENT_EDGE_TEST: 1
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          persist-credentials: false
      - name: Pull Docker images
        run: |
          docker compose --file tests/docker/docker-compose.ci-test-edge.yml pull --quiet
      - name: Set up Python ${{ env.DEFAULT_PYTHON_VERSION }}
        id: setup-python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: ${{ env.DEFAULT_UV_VERSION }}
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install Hatch
        run: |
          uv tool install --python ${{ steps.setup-python.outputs.python-version }} --upgrade hatch
      - name: Show environment
        run: |
          hatch test --show --python ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Run tests
        run: |
          hatch test --cover --python ${{ env.DEFAULT_PYTHON_VERSION }}
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - lint
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          persist-credentials: false
      - name: Set up Python ${{ env.DEFAULT_PYTHON_VERSION }}
        id: setup-python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: ${{ env.DEFAULT_UV_VERSION }}
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install Hatch
        run: |
          uv tool install --python ${{ steps.setup-python.outputs.python-version }} --upgrade hatch
      - name: Build
        run: |
          hatch build --clean
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: artifacts
          path: dist/*
          if-no-files-found: error
          retention-days: 7
  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - lint
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          persist-credentials: true
      - name: Set up Python ${{ env.DEFAULT_PYTHON_VERSION }}
        id: setup-python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: ${{ env.DEFAULT_UV_VERSION }}
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
      - name: Install Hatch
        run: |
          uv tool install --python ${{ steps.setup-python.outputs.python-version }} --upgrade hatch
      - name: Build Documentation
        run: |
          hatch run docs:build
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: documentation
          path: site/*
          if-no-files-found: error
          retention-days: 7
      - name: Configure Git user
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Fetch gh-pages
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          git fetch origin gh-pages --depth=1
      - name: Deploy documentation
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          hatch run docs:deploy ${GITHUB_REF_NAME}
  create-release:
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    needs:
      - build
      - tests
      - documentation
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          persist-credentials: false
      - uses: actions/download-artifact@v6.0.0
        with:
          name: artifacts
          path: dist
      - name: Get latest release info
        id: query-release-info
        uses: release-flow/keep-a-changelog-action@v3.0.0
        with:
          command: query
          version: ${{ github.ref_name }}
      - name: Display release info
        run: |
          echo "Version: ${STEPS_QUERY_RELEASE_INFO_OUTPUTS_VERSION}"
          echo "Date: ${STEPS_QUERY_RELEASE_INFO_OUTPUTS_RELEASE_DATE}"
          echo "${STEPS_QUERY_RELEASE_INFO_OUTPUTS_RELEASE_NOTES}"
        env:
          STEPS_QUERY_RELEASE_INFO_OUTPUTS_VERSION: ${{ steps.query-release-info.outputs.version }}
          STEPS_QUERY_RELEASE_INFO_OUTPUTS_RELEASE_DATE: ${{ steps.query-release-info.outputs.release-date }}
          STEPS_QUERY_RELEASE_INFO_OUTPUTS_RELEASE_NOTES: ${{ steps.query-release-info.outputs.release-notes }}
      - uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "dist/*.tar.gz,dist/*.whl"
          body: ${{ steps.query-release-info.outputs.release-notes }}
  pypi-publish:
    name: Publish
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    needs:
      - build
      - tests
      - documentation
    steps:
      - uses: actions/download-artifact@v6.0.0
        with:
          name: artifacts
          path: dist
      - name: Publish build to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
